* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.testovi h6 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.testovi i {
  font-size: 2rem;
  margin-bottom: 5px;
}
.navbar-brand img {
  height: 50px;
}
.profil .profil-img {
  height: 100px;
  width: 100px;

  outline: none;
  overflow: hidden;
}
.profil .profil-img img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.profil #file-img {
  display: none;
}

ul li span {
  font-weight: 600;
  margin-right: 10px;
}
ul li span + * {
  margin: 0;
  float: right;
}

input[type="file"] {
  display: none;
}

textarea {
  resize: none;
  overflow-y: auto;
  height: 200px !important;
}

.img-thumbnail {
  height: 250px;
  width: 250px;
}

.atach-img {
  /* height: 200px; */
  /* width: auto; */
}
.atach-img img {
  height: auto;
  width: 100%;
  display: block;
  object-fit: cover;
}
