* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../asset/bg.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
}
.jumbotron {
  background: linear-gradient(to bottom, rgba(52, 58, 64, 1), rgba(0, 0, 0, 0));
  color: #ddd;
}
h1 {
  text-transform: uppercase;
  font-size: 4rem;
}
h1,
h1 + * {
  text-shadow: 0 0 2px #000;
}

h2 {
  color: #ff6347;
  font-size: 2.5rem;
  margin: 30px auto;
  text-shadow: 0 0 2px #000;
}
h3 {
  color: #fff;
  text-shadow: 0 0 2px #000;
}
.testovi h6 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1;
}
.testovi i {
  font-size: 2rem;
  margin-bottom: 5px;
}
.navbar-brand img,
.loged-profil img {
  height: 50px;
}
.profil .profil-img {
  height: 100px;
  width: 100px;

  outline: none;
  overflow: hidden;
}
.profil .profil-img img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #000;
}
.profil #file-img {
  display: none;
}

ul li span {
  font-weight: 600;
  margin-right: 10px;
}
ul li span + * {
  margin: 0;
  float: right;
}

input[type="file"] {
  display: none;
}

textarea {
  resize: none;
  overflow-y: auto;
  height: 100px !important;
}

.img-thumbnail {
  height: 250px;
  width: 250px;
}

.atach-img img {
  height: auto;
  width: 100%;
  display: block;
  object-fit: cover;
}

.loged-profil img {
  border: 2px solid #ddd;
  padding: 3px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.option label,
.option input {
  cursor: pointer;
}
.option input[type="checkbox"],
.option input[type="radio"] {
  height: 20px;
}

.badge {
  font-size: 18px;
}
.thumbnail {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  min-height: 250px;
}

.thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.user-info li {
  border: transparent;
  border-bottom: 1px solid #fff;
}
